@import './flexgrid.scss';

// Variables
//@@@@@@@
//@@@@@@@

// Colors
$brand-primary-color: #234460;
$brand-secondary-color: #646E80;
$brand-blue-color: #0F95FC;
$brand-green-color: #22C646;
$brand-light-color: #FAFBFC;

$dark-gray-color: #414853;
$dark-gray-color-s: #555F71;
$dark-gray-color-xs: #646E80;
$dark-gray-color-xxs: #7D879A;
$light-gray-color: #939AA6;
$light-gray-color-s: #A6B1C0;
$light-gray-color-xs: #C1CAD6;
$light-gray-color-xxs: #E0E4EB;

// Typography
$font-family-base: Roboto;
$f-size-xxl: 41px;
$f-size-xl: 34px;
$f-size-l: 28px;
$f-size-m: 20px;
$f-size: 16px;
$f-size-s: 14px;

// Spacings
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 40px;
$spacing-xxxl: 60px;

// Box-shadow
$brand-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);

// Brand style
// @@@@@@
// @@@@@@

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg,#fff,#fffaf7 10%,#fff3ea 20%,#f5f3f0 33%,#ddf3ff 66%,#d0f1c9) 50% fixed;
  font-size: 18px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1, h2, h3, h4, h5, h6, p {
  font-family: $font-family-base;
  font-weight: 400;
  color: $dark-gray-color-xs;
}

h1 {
  font-size: $f-size-xxl;
  line-height: 22.86px;
}

h2 {
  font-size: $f-size-xl;
  line-height: 48.57px;
}

h3 {
  font-size: $f-size-l;
  line-height: 40px;
}

h4 {
  font-size: $f-size-m;
  line-height: 28.57px;
}

h5 {
  font-size: $f-size;
  line-height: 22.86px;
}

h6 {
  font-size: $f-size-s;
  line-height: 20px;
}

p {
  font-size: $f-size;
  line-height: 22.86px;
}

// Card style
.card {
  border-radius: 4px;
  box-shadow: $brand-box-shadow;
  background-color: $brand-light-color;
}

select:focus,
button:focus {
  outline: none;
}

// Buttons
.button {
  text-transform: uppercase;
  border-radius: 2px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.button-primary {
  color: $brand-light-color;
  background-color: $brand-blue-color;
  border: 1px solid $brand-blue-color
}

.button-secondary {
  color: $brand-blue-color;
  background-color:$brand-light-color;
  border: 1px solid $brand-blue-color;
}

// General style
.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: $spacing-xxxl;

  .button:first-of-type {
    margin-right: $spacing-l;
  }
}

a {
  text-decoration: none;
}

.component-container {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.section-title {
  text-transform: uppercase;
  color: $brand-primary-color;
  margin-bottom: $spacing-xxl;
  width: 100%;
}

.intro-title {
  color: $brand-primary-color;
  font-size: $f-size-xl;
  line-height: 1;
  margin-bottom: $spacing-xl;
}


.component-container {
  margin-top: $spacing-xxxl;

  p {
    margin-bottom: $spacing-xl;
  }
}

.tag {
  display: inline-block;
  margin-right: $spacing-m;

  p {
    border: 1px solid $light-gray-color-xs;
    border-radius: 2px;
    color: $brand-blue-color;
    padding: $spacing-s;
  }
}

.icon-left {
  margin-right: $spacing-xs;
}